.audio-visualizer {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.audio-visualizer .audio-visualizer-ui {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.audio-visualizer-ui .main-action-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
